*.rds
*.png
.Rhistory
.Rapp.history

.RData

.Rproj.user/

junk.R

data/
lda_vis/
tm_vis/
fits.zip
Rplot.pdf
test.pdf
data/models.rda
data/perps.zip
data/perps_harmonic_mean.zip
data/perps_new.zip
data/perps_old.zip
data/split_dtm.rda
