*.rds
*.png
.Rhistory
.Rapp.history

.RData

.Rproj.user/

junk.R

articles.csv

vis/
data/
lda_vis/
tm_vis/
fits.zip
Rplot.pdf
test.pdf
data/models.rda
data/perps.zip
data/perps_harmonic_mean.zip
data/perps_new.zip
data/perps_old.zip
data/split_dtm.rda
*.csv
*.zip
tests/d3.v3.js
tests/index.html
tests/lda.css
tests/lda.json
tests/ldavis.js
*.xlsx
